.navbar {
    background-color: #000;
  }
  
  .navbar-nav .nav-link {
    color: #ff3b3b !important;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover {
    color: #fff !important;
    background-color: #ff3b3b !important;
    border-radius: 5px;
  }
  
  .navbar-brand {
    color: #ff3b3b !important;
    font-size: 1.5rem;
    font-weight: bold;
  }
  